@font-face {
    font-family: 'test';
    src: url('http://localhost/purify/sifonn_basic_outline-webfont.woff2') format('woff2'),
         url('http://localhost/purify/sifonn_basic_outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

video{
    width:100%;
    height: 100%;
}

.no-margin{
    margin:0px;
}

.no-padding{
    padding:0px !important;
}

.center{
   display: block; /*for the img inside your div */ 
    margin: 0 auto ;
}

.beige{
    background: #F7F4F3; /*#F8FFD3;*/
}

.brown{
    background: #E8DCD8;/**#E8E5B4;*/
}

.red{
    background: #FFB1AA; /*#FFB1AA*/
}

.half{
    height: 90vh;
}

.main1{
    /**background-image: url("../img/banner1.png") ;
    background-size: 100% auto;
    height: 100vh;**/
   
    background-position: center; 
}

.mainwwd{
    background-image: url("../img/banner_wwd.png");
    background-size: 100% auto;
    height: 100vh;
   
    background-position: center; 
}

.maindocuments{
    background-image: url("../img/main_documents.png");
    background-size: 100% auto;
    height: 100vh;
   
    background-position: center; 
}

.maincontact{
    background-image: url("../img/banner_contact.png");
    background-size: 100% auto;
    height: 100vh;
   
    background-position: center; 
}

.gallery img{
    width:auto !important;
    max-width: 100% !important;
  height: 400px;
    padding: 20px;
}

.slick-slider{
    margin: 60px;
}

#signature{
    float:right;
    margin-bottom: 40px;
}

.full h5{
    margin: 60px 0px 60px 0px;
    text-align: center;
    font-size: 25px;
}

.full p{
    text-align: center;
    margin: 0 auto 60px auto;
    width:50%;
}

.full button{
    background:#E8E5DF ;
    margin-bottom: 40px;
}

.full .buttontwo{
    background:#F8FFF9 ;
    margin-bottom: 40px;
}

.full img{
    width: 100%;
}

.fullheight{
    height: 100%;
}

.full{
    padding: 0px;
}

.footer{
    border-top:1px solid #E8DCD8;
    background: #FFB1AA; /*#FF9085*/
}

.footer p{
    margin: 30px auto 30px auto;
    text-align: center;
}

.footer a{
    color:black;
}

.button_container {
  position: fixed;
  top: 4%;
  right: 2%;
  height: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: black;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
    z-index: 100;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: #B1C0FF; /*#97AEFF;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
    z-index: 5;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 50%;
  top: 30%;
  transform: translateY(-50%);
  font-size: 30px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: black;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.leaders{
    width:70% !important;
    display: block; /*for the img inside your div */ 
    margin: 0 auto 40px auto;
}

.leader-desc{
    text-align: center;
    margin: 0 auto 60px auto;
    width:80% !important;
}

.name{
    margin: 0 auto 20px auto !important; 
}

.name a{
    color: black;
}

.last{
    margin-bottom:60px !important;
}

.submit{
    margin: 0 auto;
    display: block;
}

[data-sr] {
    visibility: hidden;
}

a:hover{
    text-decoration: none;
}

.notice{
    font-size: 13px !important;
    width:75% !important;
}

.color-red{
    color:red;
}